<div class="container d-flex p-8 align-items-center">
    <h2 class="fs-4 me-12">Admin</h2>
    <a href="#" class="add">
        <span class="material-icons align-top text-success">add</span>
        Add New Admin
    </a>
    <div class="action-group d-flex ms-auto">
        <a href="#">
            <span class="material-icons me-6">search</span>
        </a>
        <a href="#">
            <span class="material-icons">notifications_active</span>
        </a>
    </div>
</div>
