<aside>
    <h1>
        <a href="#">ANSWER</a>
    </h1>
    <nav>
        <a class="nav-link link-success" href="#">
            <span class="material-icons">assessment</span>
            Dashboard
        </a>
        <a class="nav-link link-success" href="#">
            <span class="material-icons">question_answer</span>
            Question
        </a>
        <a class="nav-link link-success" href="#">
            <span class="material-icons">assignment</span>
            Assignment
        </a>
        <a class="nav-link link-success" href="#">
            <span class="material-icons">video_library</span>
            Course
        </a>
        <a class="nav-link link-success" href="#">
            <span class="material-icons">supervisor_account</span>
            Admin
        </a>
        <a class="nav-link link-success" href="#">
            <span class="material-icons">settings</span>
            Settings
        </a>

    </nav>
    <div class="admin"></div>
</aside>