<aside class="bg-light d-flex flex-column">
    <h1 class="m-8">
        <a href="#">ANSWER</a>
    </h1>
    <nav class="nav sidebar flex-column">
        <a class="nav-link link-dark py-3 fw-bold disabled" href="#">
            <span class="material-icons me-4 align-top">assessment</span>
            Dashboard
        </a>
        <a class="nav-link link-dark py-3 fw-bold disabled" href="#">
            <span class="material-icons me-4 align-top">question_answer</span>
            Question
        </a>
        <a class="nav-link link-dark py-3 fw-bold" href="assignment.html">
            <span class="material-icons me-4 align-top">assignment</span>
            Assignment
        </a>
        <a class="nav-link link-dark py-3 fw-bold disabled" href="#">
            <span class="material-icons me-4 align-top">video_library</span>
            Course
        </a>
        <a class="nav-link link-dark py-3 fw-bold active" aria-current="page" href="#">
            <span class="material-icons me-4 align-top">supervisor_account</span>
            Admin
        </a>
        <a class="nav-link link-dark py-3 fw-bold disabled" href="#">
            <span class="material-icons me-4 align-top">settings</span>
            Settings
        </a>

    </nav>
    <div class="admin d-flex mt-auto mb-8 ms-8">
        <img class="me-4 rounded-circle" src="/assets/images/andychen.jpeg" alt="andychen photo">
        <div class="admin-info">
            <div class="admin-name">Andy Chen</div>
            <div class="admin-email">andy0401@mail.com</div>
        </div>
    </div>
</aside>