// 參考文章：以 <h1> 包覆 logo: 圖與文字可同時被搜尋到的技巧
h1 a{
    background-image: url(/assets/images/logo-ANSWER.svg);
    background-repeat: no-repeat;
    width: 151px;
    height: 40px;
    display: block;

    /*  將文字推出 <h1>  */
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
nav a{
    display: block;
}