*{
  font-family: 'Lato', 'Roboto Mono', sans-serif, monospace;
}

.index-title {
  font-size: 100px;
}

main{
  margin-left: 296px;
}

.container{
  min-height: 100vh;
}

a{
  color: inherit !important;
  display: block !important;
  text-decoration: none !important;
}

h2{
  margin: 0 !important;
  padding:0 !important;
}

.page-link.active, .active > .page-link{
  background-color: $success !important;
  border: 1px solid $success !important;
}

.arrow-downward{
  font-size: 16px !important;
  margin-left: 7px;
}

table tbody tr:hover{
  background-color: $gray-100;
}

table tbody a .material-icons:hover, .add-admin:hover{
  color: $success !important;
}

.emir-wang{
  width: 141px;
  height: 141px !important;
  object-fit: cover;
}

.disabled-text{
  border-color: $gray-400 !important;
  &::placeholder{
    color: $gray-400 !important;
  }
}

.custom-access input[type=checkbox]{
  border: 2px solid $gray-900;
}

/* scrollbar width 參考同學方法破解出現y軸 */
::-webkit-scrollbar{
  width: 0;
}