*{
  font-family: 'Lato', sans-serif;
}

.index-title {
  font-size: 100px;
}

main{
  margin-left: 296px;
}

a{
  color: inherit !important;
  display: block !important;
  text-decoration: none !important;
}

h2{
  margin: 0 !important;
  padding:0 !important;
}